@tailwind base;

@layer base {
	:root {
		color-scheme: light;
		--theme-bg: #eeeff1;
		--theme-link: #444d44;
		--theme-text: #565f5e;
		--theme-accent: #444d44;
		--theme-accent-2: #4a514f;
		--theme-quote: #2c3e2d;
		--theme-menu-bg: hsl(0, 0%, 100%);
		--theme-quote: 351deg 66% 48%;
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: #111112;
		--theme-link: #707384;
		--theme-text: #838383;
		--theme-accent: #bec2cd;
		--theme-accent-2: #b5b5b5;
		--theme-quote: #dadada;
		--theme-menu-bg: rgb(29 31 33 / 0.85);
		--theme-quote: 102deg 100% 86%;
	}

	html {
		@apply h-full scroll-smooth overflow-y-scroll;
	}

	html body {
		@apply mx-auto flex h-full max-w-3xl flex-col bg-bgColor px-0 sm:px-8 font-sans text-base font-normal text-textColor antialiased;
	}
}

@tailwind components;
@tailwind utilities;
