---
import SocialList from "../SocialList.astro";

const currentYear = new Date().getFullYear();
---

<footer
  class="mt-auto pb-6 flex w-full max-w-3xl flex-col items-center justify-center gap-y-2 pt-14 text-center align-top text-sm text-gray-500 dark:text-gray-400 sm:flex-row sm:items-start sm:justify-between"
>
  <nav aria-label="Social links">
    <SocialList />
  </nav>
  <div>
    &copy;{currentYear}&nbsp;<a
      class="h-card no-underline hover:underline"
      href="https://jayden.gg">Jayden Harrod</a
    >
  </div>
</footer>
