---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import {
  Javascript,
  Typescript,
  Php,
  Rubyonrails,
  React,
  Dotnet,
} from "simple-icons-astro";
import backpack from "../../public/backpack.jpeg";
import climbing from "../../public/climbing.jpeg";
import toastie from "../../public/toastie.jpeg";
import aboutBackground from "../../public/about-bg.png";
---

<PageLayout meta={{ title: "About" }}>
  <section
    class="relative -mt-6 overflow-hidden mx-auto text-center sm:pb-8 transition hover:filter-none dark:hover:grayscale-0 dark:grayscale"
  >
    <div class="relative cursor-crosshair h-[320px]">
      <div
        class="absolute inset-0 sm:rounded-xl rounded-none shadow-md border dark:border-neutral-600 border-neutral-200"
      >
        <img
          src={aboutBackground.src}
          alt="Hero Background"
          class="h-full w-full object-cover cursor-grab sm:rounded-xl rounded-none"
        />

        <div
          class="absolute inset-0 sm:rounded-xl rounded-none dark:bg-black/40 bg-gradient-to-b from-sky-900/40 to-yellow-700/40"
        >
        </div>
      </div>

      <div
        class="relative z-10 flex flex-col items-center justify-center h-full px-4"
      >
        <h1
          class="title text-6xl shadow-sm font-extrabold dark:text-neutral-100/80 text-neutral-100 mb-4"
        >
          About
        </h1>
        <h2
          class="mb-8 text-3xl shadow-sm font-medium text-neutral-100 dark:text-neutral-100/80"
        >
          Creative Technologist
        </h2>
      </div>
    </div>
  </section>
  <section class="mt-6 sm:mt-0 ml-4 mr-4 sm:ml-0 sm:mr-0">
    <div class="mb-10 flex justify-center gap-4">
      <div
        class="-rotate-2 rounded-lg border dark:grayscale dark:hover:filter-none border-gray-300 px-2 pb-2 pt-2 shadow-md transition-transform hover:rotate-2 dark:border-neutral-800 dark:bg-neutral-900"
      >
        <div
          class="w-full max-w-52 max-h-52 h-full aspect-square sm:max-w-[13rem]"
        >
          <Image
            class="h-full w-full object-cover cursor-grab rounded-sm dark:opacity-70 border dark:border-neutral-400"
            src={backpack}
            alt="Profile Image"
          />
        </div>
      </div>
      <div
        class="rounded-lg border dark:grayscale dark:hover:filter-none border-gray-300 px-2 pb-2 pt-2 shadow-md transition-transform hover:-rotate-2 dark:border-neutral-800 dark:bg-neutral-900"
      >
        <div
          class="w-full max-w-52 max-h-52 h-full aspect-square sm:max-w-[13rem]"
        >
          <Image
            class="h-full w-full object-cover cursor-grab rounded-sm dark:opacity-70 border dark:border-neutral-400"
            src={climbing}
            alt="Profile Image"
          />
        </div>
      </div>
      <div
        class="rotate-2 rounded-lg border dark:grayscale dark:hover:filter-none border-gray-300 px-2 pb-2 pt-2 shadow-md transition-transform hover:-rotate-2 dark:border-neutral-800 dark:bg-neutral-900"
      >
        <div
          class="w-full max-w-52 max-h-52 h-full aspect-square sm:max-w-[13rem]"
        >
          <Image
            class="h-full w-full object-cover cursor-grab rounded-sm dark:opacity-70 border dark:border-neutral-400"
            src={toastie}
            alt="Profile Image"
          />
        </div>
      </div>
    </div>
    <h2 class="title mb-4 text-xl dark:text-neutral-300">Story</h2>
    <p class="text">
      A multi-disciplinary technologist specialising in scaling software
      products and teams.
    </p>
    <p class="text">
      I bring over a decade of experience leading high-growth software teams,
      architecting scalable systems, and translating product ambiguity into
      delivery momentum. I'm most effective in the 0→2→100 journey where
      structure meets speed, and thrive when engineering, product, and business
      outcomes converge. Known for staying calm under pressure, I create order
      from chaos, lead with empathy, and scale systems and people without losing
      traction on the ground. My strengths lie in building operating models,
      shaping product strategy through a technical lens, and growing cultures
      that win.
    </p>
  </section>
  <section class="mt-6 sm:mt-0 ml-4 mr-4 sm:ml-0 sm:mr-0">
    <h3 class="title mb-4 text-xl dark:text-neutral-300">Career History</h3>
    <ul class="space-y-4 sm:space-y-2">
      <li class="flex flex-col gap-x-2 sm:flex-row">
        <span class="min-w-[120px]">Principal Consultant:</span>
        <span class="flex items-center gap-2">
          <a class="cactus-link" target="_blank" href="https://twellve.com/"
            >Twellve</a
          >
        </span>
      </li>
      <li class="flex flex-col gap-x-2 sm:flex-row">
        <span class="min-w-[120px]">Senior Software Engineer:</span>
        <span class="flex items-center gap-2">
          <a class="cactus-link" target="_blank" href="https://covidence.org/"
            >Covidence</a
          >
          <Javascript class="h-5 w-5" name="simple-icons:javascript" />
          <Typescript class="h-5 w-5" name="simple-icons:typescript" />
          <React class="h-5 w-5" name="simple-icons:react" />
          <Rubyonrails class="h-5 w-5" name="simple-icons:ruby-on-rails" />
        </span>
      </li>
      <li class="flex flex-col gap-x-2 sm:flex-row">
        <span class="min-w-[120px]">Software Engineering Manager:</span>
        <span class="flex items-center gap-2">
          <a class="cactus-link" target="_blank" href="https://camplify.com/"
            >Camplify</a
          >
          <Javascript class="h-5 w-5" name="simple-icons:javascript" />
          <Typescript class="h-5 w-5" name="simple-icons:typescript" />
          <React class="h-5 w-5" name="simple-icons:react" />
          <Rubyonrails class="h-5 w-5" name="simple-icons:ruby-on-rails" />
        </span>
      </li>
      <li class="flex flex-col gap-x-2 sm:flex-row">
        <span class="min-w-[120px]">Founding Software Engineer:</span>
        <span class="flex items-center gap-2">
          <a class="cactus-link" target="_blank" href="https://betmakers.com/"
            >Betmakers</a
          >
          <Javascript class="h-5 w-5" name="simple-icons:javascript" />
          <Typescript class="h-5 w-5" name="simple-icons:typescript" />
          <React class="h-5 w-5" name="simple-icons:react" />
          <Php class="h-5 w-5" name="simple-icons:php" />
        </span>
      </li>
      <li class="flex flex-col gap-x-2 sm:flex-row">
        <span class="min-w-[120px]">Software Engineer:</span>
        <span class="flex items-center gap-2">
          <a class="cactus-link" target="_blank" href="https://mudbath.com.au/"
            >Mudbath</a
          >
          <Javascript class="h-5 w-5" name="simple-icons:javascript" />
          <Typescript class="h-5 w-5" name="simple-icons:typescript" />
          <React class="h-5 w-5" name="simple-icons:react" />
          <Dotnet class="h-5 w-5" name="simple-icons:dot-net" />
        </span>
      </li>
      <li class="flex flex-col gap-x-2 sm:flex-row">
        <span class="min-w-[120px]">Software Engineer:</span>
        <span class="flex items-center gap-2">
          <a
            class="cactus-link"
            target="_blank"
            href="https://hipagesgroup.com.au/">hipages</a
          >
          <Javascript class="h-5 w-5" name="simple-icons:javascript" />
          <Typescript class="h-5 w-5" name="simple-icons:typescript" />
          <React class="h-5 w-5" name="simple-icons:react" />
          <Php class="h-5 w-5" name="simple-icons:php" />
        </span>
      </li>
      <li class="flex flex-col gap-x-2 sm:flex-row">
        <span class="min-w-[120px]">Software Engineer:</span>
        <span class="flex items-center gap-2">
          <a class="cactus-link" target="_blank" href="https://digivizer.com/"
            >Digivizer</a
          >
          <Javascript class="h-5 w-5" name="simple-icons:javascript" />
          <React class="h-5 w-5" name="simple-icons:react" />
          <Rubyonrails class="h-5 w-5" name="simple-icons:ruby-on-rails" />
        </span>
      </li>
      <li class="flex flex-col gap-x-2 sm:flex-row">
        <span class="min-w-[120px]">Operations Manager:</span>
        <span>
          <a class="cactus-link" target="_blank" href="/about/"
            >PickleHosting (EXIT)</a
          >
        </span>
      </li>
    </ul>
  </section>
</PageLayout>
