---
import PageLayout from "@/layouts/Base";
import profile from "../../public/profile.jpeg";
import { Image } from "astro:assets";
---

<PageLayout meta={{ title: "Home" }}>
  <section>
    <h1 class="title">Jayden Harrod</h1>
    <h2 class="text">Australian Technologist</h2>
    <div class="flex gap-8">
      <Image
        class="h-24 w-24 -rotate-2 rounded-lg border-2 border-neutral-200 p-2 shadow-lg transition-transform hover:-rotate-0 hover:scale-105 dark:border-neutral-800 dark:bg-neutral-900"
        src={profile}
        alt="Profile Image"
      />
      <p class="text">
        I'm a technical operator who's helped scale multiple product companies
        to $50M+ ARR — from the ground up. I've led during moments of chaos,
        M&A, and rapid growth to deliver meaningful outcomes across engineering,
        infrastructure, teams, and compliance.
        <br />
        <br />
         My roles have included Designer, Software Engineer, Technical Lead,
        Engineering Manager, Product Manager, and Head of Engineering.
      </p>
    </div>
  </section>
</PageLayout>
