---
import PageLayout from "@/layouts/Base";
import projectBackground from "../../public/project-bg.png";
---

<PageLayout
  meta={{
    title: "Projects",
    description: "Explore my personal projects and professional endeavors.",
  }}
>
  <section
    class="relative -mt-6 overflow-hidden mx-auto text-center sm:pb-8 transition hover:filter-none dark:hover:grayscale-0 dark:grayscale"
  >
    <div class="relative cursor-crosshair h-[320px]">
      <div
        class="absolute inset-0 sm:rounded-xl rounded-none shadow-md border dark:border-neutral-600 border-neutral-200"
      >
        <img
          src={projectBackground.src}
          alt="Hero Background"
          class="h-full w-full object-cover sm:rounded-xl rounded-none"
        />

        <div
          class="absolute inset-0 sm:rounded-xl rounded-none dark:bg-black/40 bg-gradient-to-b from-sky-600/40 to-orange-800/50"
        >
        </div>
      </div>

      <div
        class="relative z-10 flex flex-col items-center justify-center h-full px-4"
      >
        <h1
          class="title text-6xl shadow-sm font-extrabold dark:text-neutral-100/80 text-neutral-100 mb-4"
        >
          Projects
        </h1>
        <h2
          class="mb-8 text-3xl shadow-sm font-medium text-neutral-100 dark:text-neutral-100/80"
        >
          Personal Endeavours
        </h2>
      </div>
    </div>
  </section>
  <section class="grid gap-4 sm:gap-8 md:grid-cols-2 mt-4 sm:mt-0">
    <article
      class="ml-4 mr-4 sm:ml-0 sm:mr-0 sm:rounded-xl rounded-none border bg-white dark:bg-neutral-900 border-neutral-200 p-8 dark:border-neutral-800"
    >
      <div class="flex items-center gap-4 mb-4">
        <div
          class="h-12 w-12 rounded-full bg-neutral-100 dark:bg-neutral-700/30 flex items-center justify-center dark:grayscale"
        >
          📡
        </div>
        <h3
          class="text-xl font-semibold text-neutral-900 dark:text-neutral-300"
        >
          TelemetryWorks
        </h3>
      </div>
      <p class="text-neutral-600 dark:text-neutral-500 mb-4">
        R&D technology solutions for modern field based work challenges.
      </p>
      <a
        href="https://telemetryworks.com/"
        class="inline-flex items-center mt-auto text-sky-800 dark:text-neutral-400 hover:underline"
      >
        Visit Project
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4 ml-1"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
        </svg>
      </a>
    </article>

    <article
      class="ml-4 mr-4 sm:ml-0 sm:mr-0 sm:rounded-xl rounded-none border bg-white dark:bg-neutral-900 border-neutral-200 p-8 dark:border-neutral-800"
    >
      <div class="flex items-center gap-4 mb-4">
        <div
          class="h-12 w-12 rounded-full bg-neutral-100 dark:bg-neutral-700/30 flex items-center justify-center dark:grayscale"
        >
          📍
        </div>
        <h3
          class="text-xl font-semibold text-neutral-900 dark:text-neutral-300"
        >
          Northshed
        </h3>
      </div>
      <p class="text-neutral-600 dark:text-neutral-500 mb-4">
        Professional drone-based aerial mapping and reporting services.
      </p>
      <a
        href="https://northshed.com.au/"
        class="inline-flex items-center mt-auto text-orange-800 dark:text-neutral-400 hover:underline"
      >
        Visit Project
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4 ml-1"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
        </svg>
      </a>
    </article>
  </section>
</PageLayout>
